a:hover {
    text-decoration: none !important;
}

a.white {
    color: white;
}

a.white:hover {
    color: #ccc;
}


/* h1.h3.mb-4.text-gray-800 {
    color: yellow !important;
    font-weight: bolder;
    width: 50%;
} */